# Don’t ignore this file
!.gitignore

# Ignore processed data
Bias_Correction_Algorithm\output\processed_data
Bias_Correction_Algorithm\output\regression
Bias_Correction_Algorithm\output\validation
# 
*.h5

# Python usual junk
__pycache__/
*.pyc
.ipynb_checkpoints/
.vscode/