# Don’t ignore this file
!.gitignore

# Ignore processed data
Bias_Correction_Algorithm/Data_Processing/Processed_Data
Bias_Correction_Algorithm/Output
# 
*.h5

# Python usual junk
__pycache__/
*.pyc
.ipynb_checkpoints/